@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Inder&display=swap');

:root {
    --black: rgba(20, 26, 38, 1);
    --dark: rgba(54, 69, 73, 1);
    --pale: rgba(204, 184, 166, 1);
    --bright: rgba(236, 228, 196, 1);
    --highlight: rgba(126, 120, 113, 1);
    --accent: rgba(184, 59, 0, 1);

    --black-shade: rgba(14, 22, 38, 0.56);
    --accent-shade: rgba(87, 28, 0, 0.42);

    --thumb-shade: var(--black-shade)
}
* {
    font-family: "Inder", serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.1s ease-in-out;
}

html {
    overflow-y:scroll;
}

h1,
h2,
h3 {
    font-family: "Bungee", serif;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--bright);
    color: var(--black);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: var(--pale);
}

.header-content {
    max-width: 75.5em;
    margin: 0 auto;
    padding: 2em 0 1em 0;
    align-items: center;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

header h1 {
    color: var(--black);
    margin: 0;
    font-size: 2.5rem;
}

header h2 {
    color: var(--accent);
    /* margin-top: 1em; */
    font-size: 1.2rem;
}

nav {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav > * {
    width: 100%;
    text-align: center;
}

main {
    background-color: var(--pale-shade);
    max-width: 80em;
    width: 100%;
    margin: 0 auto;
    padding: 6em 2em 2em 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
}

h3 {
    color: var(--dark);
    text-align: center;
    margin-bottom: 1em;
    font-size: 2rem;
}

h4 a {
    color: var(--dark);
    text-decoration: none;
    transition: color 0.3s ease;
}

h4 a:hover {
    color: var(--accent);
}

p {
    color: var(--dark);
    line-height: 1.6;
}

section {
    /* background-color: var(--pale); */
    padding: 1.5em;
    margin-bottom: 2em;
    flex: 1;
    display: flex;
    flex-direction: column;
}

section p {
    color: var(--black);
}

ul {
    list-style-type: none;
    padding-left: 0;
}

ul li {
    color: var(--dark);
    margin-bottom: 1em;
}

footer {
    background-color: var(--pale);
    padding: 3em 2em;
    text-align: center;
    /* margin-top: 4em; */
}

footer p {
    color: var(--dark);
}

a {
    color: var(--highlight);
    text-decoration: none;
}

a:hover {
    color: var(--accent);
}

.thumbnail {
    --thumb-image: url('../images/default.jpg');
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5em;
    font-family: "Bungee", serif;
    color: var(--bright);
    width: 560px;
    height: 315px;
    background:
        linear-gradient(var(--thumb-shade), var(--thumb-shade)),
        var(--thumb-image) center / cover no-repeat;
}

.thumbnail:hover {
    color: var(--pale);
    --thumb-shade: var(--accent-shade);
}

.links {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.presentation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.5em;
    gap: 2em;
    padding: 0 0 auto 0;
    margin: 0;
}

.project-list {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em 1em;
    margin: 2em auto;
}

.project-item {
    display: block;
    width: 560px;
    max-height: 512px;
    overflow: hidden;
}

.project-item:hover > .thumbnail {
    color: var(--pale);
    --thumb-shade: var(--accent-shade);
}

.project-info {
    width: inherit;
    font-size: 1.25em;
    padding: 1em 1em;
    background-color: var(--pale);
    box-sizing: border-box;
}

.project-info > p {
    margin: 0;
}

@media (max-width: 48rem) {
    h1 {
        font-size: 2em;
    }

    header,
    footer,
    main,
    section {
        padding: 2em 1em;
    }

    section {
        margin-bottom: 3em;
    }
}